{{>header}}

<div class="container">
    {{#each cheeseSelection}}
    <div class="individualCheese">
        <img class="img-circle" src="{{image}}" alt="{{name}}"> <br>
        <div class="cheeseText"> Name: {{name}} </div> <br>
        <div class="cheeseText"> Votes:  {{votes}} </div> <br>
        <form action="/home" method="POST">
            <label class="voteButton">
                <input type="hidden" name="id" value="{{id}}">
                <input  type="submit" name="" value="VOTE">
            </label>
        </form>
        <!--<button class="voteButton">VOTE</button>-->
    </div> 
    {{/each}}
</div>

<a href="/add"><button class="submit-button" type="submit">ADD CHEESE</button></a>